# Системные файлы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Логи
server/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Server specific (Java/Maven)
target/
server/HELP.md
server/.mvn/wrapper/maven-wrapper.jar
!server/**/src/main/**/target/
!server/**/src/test/**/target/
server/*.iml

# Java STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

server/src/main/frontend/generated
src/main/frontend/generated
pnpmfile.js
.npmrc
webpack.generated.js
vite.generated.ts
logs


# Docker
.env
docker-compose.yml

# Shared
shared/.env


