version: "3.8"

services:
  postgresdb:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: farmTest
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5678:5432"

  backend:
    volumes:
      - ./logs:/app/logs
    build:
      context: ./server
      dockerfile: Dockerfile
      args:
        MAVEN_OPTS: "-DskipTests"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresdb:5432/farmTest
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_PROFILES_ACTIVE: prod
      ADMIN_USERNAME: newuser
      ADMIN_PASSWORD: newpassword
      JWT_SECRET: J53wwJS6tKkv3wPXlbOhj32MWisMyIy1JOo0MAAJOmQZBvqujfBp1d2jN6mFp7v1wHTB9dQIakpSCXALfoei5OYI2cifEf6yDKKKanGc4Sgfoxe9MHeNIKj8tL1jfcokvebh3bKHa2rO1ruohwxYhIWdh65oUx24CPj7M84gDXp7zjJHtwWlxlGA7bE9nvJHucc2V0wBRL7OFaomsM5qeVGAlonIMCrA2yqE1iBqpMDYlOCUBFJIjutptnjRZaJ6
      JWT_LIFETIME: 3600000
      SERVER_PORT: 8081
    depends_on:
      - postgresdb
    ports:
      - "8081:8081"

volumes:
  pgdata:
